<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <!--===== META TAGS =====-->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--===== GOOGLE FONTS =====-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Serif:opsz,wght@8..144,700&display=swap"
    rel="stylesheet">

  <!--===== CSS =====-->
  <link rel="stylesheet" href="./css/style.css">

  <!--===== FAVICON =====-->
  <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">

  <!--===== PAGE TITLE =====-->
  <title>Rocket Coffee</title>
</head>

<body>
  <header>
    <div class="container-title">
      <h1 class="main-title">
        Rocket<span>Coffee</span>
      </h1>
      <p class="opening-hours">
        Aberto todos os dias. 8h - 21h
      </p>
    </div>
  </header>
  <main>
    <section class="section">
      <h2 class="section-title">Brunch</h2>
      <div class="products-container">
        <div class="product">
          <div>
            <h3 class="product-title">Waffle Doce</h3>
            <strong class="product-price">R$37.70</strong>
          </div>
          <p class="product-description">Lorem ipsum dolor site amet, adipsicing elit, sed diam nonummy nibh.</p>
        </div>
        <div class="product">
          <div>
            <h3 class="product-title">Arroz Doce</h3>
            <strong class="product-price">R$37.70</strong>
          </div>
          <p class="product-description">Lorem ipsum dolor site amet, adipsicing elit, sed diam nonummy nibh.</p>
        </div>
        <div class="product">
          <div>
            <h3 class="product-title">Maçã Doce</h3>
            <strong class="product-price">R$37.70</strong>
          </div>
          <p class="product-description">Lorem ipsum dolor site amet, adipsicing elit, sed diam nonummy nibh.</p>
        </div>
      </div>
    </section>

    <section class="section">
      <h2 class="section-title">Bebidas</h2>
      <div class="products-container">
        <div class="product">
          <div>
            <h3 class="product-title">Suco de Alface</h3>
            <strong class="product-price">R$37.70</strong>
          </div>
          <p class="product-description">Lorem ipsum dolor site amet, adipsicing elit, sed diam nonummy nibh.</p>
        </div>
        <div class="product">
          <div>
            <h3 class="product-title">Vinho Fino</h3>
            <strong class="product-price">R$37.70</strong>
          </div>
          <p class="product-description">Lorem ipsum dolor site amet, adipsicing elit, sed diam nonummy nibh.</p>
        </div>
        <div class="product">
          <div>
            <h3 class="product-title">Waffle Doce</h3>
            <strong class="product-price">R$37.70</strong>
          </div>
          <p class="product-description">Lorem ipsum dolor site amet, adipsicing elit, sed diam nonummy nibh.</p>
        </div>
      </div>
    </section>
  </main>
</body>

</html>